
@model Notice

@{
    ViewData["Title"] = "Detail";

}

<div class="container">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>

                            <th>
                                Time
                            </th>

                            <th>
                                Description
                            </th>
                            </thead>
                            <tbody>



                            <td>
                                <h3>@Model.Time</h3>
                            </td>


                            <td>
                                <h3>@Model.Description</h3>
                            </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

